html {
	scroll-behavior: smooth;
}

h1 {
	font-family: 'Yellow Ginger', 'Arial';
	text-align: center;
}

h2 {

}

body {
	width: 100%;
	height: 100%;
	padding: 1px;
	overflow-x: hidden;

}

.main {
	width: 100%;
	margin-top: 200px;
}

.bar {
	width: 100%;
	height: 50px;
	margin-bottom: 40px;
	padding-top: 1%;
	padding-bottom: 1%;
	position: sticky;
	top: 0;
	z-index: 100;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
}

.bar-button {
	text-decoration: none;
	transition: transform 0.3s;
	color: #0d106e;
}

.bar-button:hover {
	transform: scale(1.1);
	color: #0005a1;

}

.contact-button {
	padding: 20px;
	text-decoration: none;
	transition: transform 0.3s;
	color: #0d106e;
	border: 2px solid #ffc800;
	border-radius: 30px;
	background-color: #ffc800;
}

.contact-button:hover {
	transform: scale(1.3);
	color: #0d106e;
}

.arrow-img {
	display: block;
	width: 100px;
	margin: auto;
	transition: transform 0.3s;
}

.arrow-img:hover {
	transform: scale(1.1);

}

.block {
	margin: 5%;
	margin-top: 10%;
	margin-bottom: 10%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: transparent;
}

.mission {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.meet-team {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.member-profile {
	width: 25%;
	flex-shrink: 0;
	padding: 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profile-pic {
	max-width: 40%;
	height: auto;
}

.advantages {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.accomplishments {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
	
@font-face {
  font-family: 'Yellow Ginger';
  src: url('../fonts/Yellow_Ginger.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('../fonts/coolvetica_rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
